{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Editar Cliente</h1>
        <div class="card">
            <div class="card-body">
                <form action="/editarCliente/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtid_cliente" name="txtid_cliente" class="form-control" value="{{ misclientes.id_cliente }}" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ misclientes.nombre }}" maxLength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" value="{{ misclientes.direccion }}" maxLength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="txtcorreo_electronico" name="txtcorreo_electronico" class="form-control" value="{{ misclientes.correo_electronico }}" maxLength="254" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txttelefono" name="txttelefono" class="form-control" value="{{ misclientes.telefono }}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txttipo_cliente" name="txttipo_cliente" class="form-control" value="{{ misclientes.tipo_cliente }}" maxLength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtmetodo_de_pago" name="txtmetodo_de_pago" class="form-control" value="{{ misclientes.metodo_de_pago }}" maxLength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtid_producto" name="txtid_producto" class="form-control" value="{{ misclientes.id_producto }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-success">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
