{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>Registrar Cliente</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCliente/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtid_cliente" name="txtid_cliente" class="form-control" placeholder="ID de Cliente" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" maxLength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Dirección" maxLength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="txtcorreo_electronico" name="txtcorreo_electronico" class="form-control" placeholder="Correo Electrónico" maxLength="254" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txttelefono" name="txttelefono" class="form-control" placeholder="Teléfono" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txttipo_cliente" name="txttipo_cliente" class="form-control" placeholder="Tipo de Cliente" maxLength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtmetodo_de_pago" name="txtmetodo_de_pago" class="form-control" placeholder="Método de Pago" maxLength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtid_producto" name="txtid_producto" class="form-control" placeholder="ID de Producto" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h1>Listado de Clientes</h1>
        <img class="rounded mx-auto d-block" src="{% static 'img/cliente.jpg' %}" alt="alexis" style="width: 200px; height: 200px;" />

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID Cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Correo Electrónico</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Tipo de Cliente</th>
                        <th scope="col">Método de Pago</th>
                        <th scope="col">ID Producto</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in misclientes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ m.id_cliente }}</td>
                        <td>{{ m.nombre }}</td>
                        <td>{{ m.direccion }}</td>
                        <td>{{ m.correo_electronico }}</td>
                        <td>{{ m.telefono }}</td>
                        <td>{{ m.tipo_cliente }}</td>
                        <td>{{ m.metodo_de_pago }}</td>
                        <td>{{ m.id_producto }}</td>
                        <td><a href="seleccionarCliente/{{ m.id_cliente }}" class="btn btn-info">Editar</a></td>
                        <td><a href="borrarCliente/{{ m.id_cliente }}" class="btn btn-danger">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
